nodered_flow/flows.json
[{"id":"f5445817.d52ad8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15c663d0.1c552c","type":"sqlitedb","z":"","db":"/home/pi/iot-sample-api/laravel.db","mode":"RO"},{"id":"45a20cf7.570694","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":50,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d80d8798.7c9668","type":"ui_group","z":"","name":"Group 1","tab":"","disp":true,"width":"6","collapse":false},{"id":"af4213b6.9a084","type":"ui_tab","z":"","name":"Hoja 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6bbbda10.839014","type":"ui_group","z":"","name":"Clientes","tab":"af4213b6.9a084","order":1,"disp":true,"width":"12","collapse":false},{"id":"6ec6473a.994a18","type":"ui_group","z":"","name":"ui_control","tab":"45683c79.476df4","order":1,"disp":true,"width":"22","collapse":false},{"id":"45683c79.476df4","type":"ui_tab","z":"","name":"Home","icon":"track_changes","order":1,"disabled":false,"hidden":false},{"id":"687f0c0a.360754","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7111c70e.e015e8","type":"ui_table","z":"f5445817.d52ad8","group":"6bbbda10.839014","name":"MyTable","order":0,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":540,"y":180,"wires":[]},{"id":"a5a88a44.550648","type":"sqlite","z":"f5445817.d52ad8","mydb":"15c663d0.1c552c","sqlquery":"msg.topic","sql":"","name":"Clients","x":350,"y":180,"wires":[["7111c70e.e015e8"]]},{"id":"87b2e0e.530fb2","type":"inject","z":"f5445817.d52ad8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"select * from clients;","payload":"","payloadType":"date","x":190,"y":180,"wires":[["a5a88a44.550648"]]},{"id":"8ce7a219.4394e","type":"mqtt in","z":"f5445817.d52ad8","name":"Temp","topic":"ESP32_98gvfde7832cvssd/dht/temperature","qos":"1","datatype":"auto","broker":"687f0c0a.360754","x":160,"y":260,"wires":[["86b0b547.9c30d8","fb120f87.db81"]]},{"id":"6ed06b76.aff464","type":"mqtt in","z":"f5445817.d52ad8","name":"Humedad","topic":"ESP32_98gvfde7832cvssd/dht/humidity","qos":"1","datatype":"auto","broker":"687f0c0a.360754","x":170,"y":320,"wires":[["bfd782c3.d1a62","a90b6ca3.bba"]]},{"id":"86b0b547.9c30d8","type":"ui_gauge","z":"f5445817.d52ad8","name":"","group":"6bbbda10.839014","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":260,"wires":[]},{"id":"bfd782c3.d1a62","type":"ui_gauge","z":"f5445817.d52ad8","name":"","group":"6bbbda10.839014","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":320,"wires":[]},{"id":"a90b6ca3.bba","type":"debug","z":"f5445817.d52ad8","name":"Humedad","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":420,"wires":[]},{"id":"fb120f87.db81","type":"debug","z":"f5445817.d52ad8","name":"Temp2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":380,"wires":[]}]